body {
  overflow-y: scroll;
  overflow-x: hidden; 
}

.site{
  display: flex; // Sticky Footer
  min-height: 100vh;
  flex-direction: column;
}
.site-content { // Sticky Footer
  flex: 1;
  overflow: hidden;
}
.container-fluid{
  max-width:1080px;
  width:100%;
  margin: 0 auto;
  position: relative;
}

main img{
  max-width: 100%;
}