footer{
    padding:15px 0;
    background: $primary-green;
    background-image: url('../images/tactile-grey-bg.png');
    color:#777;
    margin-top:40px;

    a {
        color:#fff;
    }

    .social {
        list-style:none;
        padding:0;
        
        li {
            display:inline-block;
            a {
                display:block;
                font-size: 30px;
                padding:5px 10px;
            }
        }
    }
}
