.navbar {
    border:none;
    margin:0;
}

nav a {
    color: #777
    
}

.main-nav{
    clear:both;

    ul li a {
        text-transform: uppercase;
    }
}

.secondary-nav{
    ul {
        list-style: none;     
        margin: 0;
        padding: 0 0 0 10px;    
        float: right;
        
        li {
            float:left;
        }

        a {
            display: block;
            padding: 5px;
        }

        &.language{
            a {
                border:1px solid #333;
                width: 40px;
                height: 40px;
                line-height: 30px;
                text-align: center;
            }
        }
    }
}

