
.carousel {
    position: relative;

    .item {
      width: 100%;
      height: 500px;
    }
    .item:nth-child(1){
      background-image: url(../images/the-hong-kong-golf-club.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .item:nth-child(2){
      background-image: url(../images/skycity-nine-eagles-golf-course.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .item:nth-child(3){
      background-image: url(../images/jockey-club-kau-sai-chau-golf-course.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .item:nth-child(4) {
      background-image: url(../images/clearwater-bay-golf-course.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

    }
    .item:nth-child(5) {
      background-image: url(../images/discovery-bay-golf-club.jpeg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .carousel-caption > p {
      position: absolute;
      z-index:4;
      bottom:30px;
      left:0;
      width:100%;
      text-align: center;
      font-style: italic;
    }

    .background-overlay{
      position: absolute;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.2);
      background: -webkit-linear-gradient(top,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.0) 30%,rgba(0,0,0,0.0) 70%,rgba(0,0,0,0.4) 100%);
      background: linear-gradient(to bottom,
      rgba(0,0,0,0.4) 0,
      rgba(0,0,0,0.0) 30%,
      rgba(0,0,0,0.0) 70%,
      rgba(0,0,0,0.4) 100%);
    }

    .dots {
      margin:0;
      padding:0;
      list-style:none;
      position: absolute;
      bottom:20px;
      left:0;
      width:100%;
      text-align: center;
      z-index: 5;

      li {
        display: inline-block;
        margin:0 5px 0 0;

        button{
          border:none;
          outline:none;
          display:block;
          color:#fff;
          background:transparent;
          height:13px;
          width:13px;
          border:1px solid #fff;
          border-radius: 50%;
          text-indent: -9999px; 
          white-space: nowrap;   
        }
        &.slick-active button{
          background:#fff;
        } 
      }
    }
    
    .slick-arrow {
      position: absolute;
      z-index: 5;
      left:10px;
      top:50%;
      padding:0;
      margin-top:-25px;
      background:transparent;
      border:none;
      outline:none;
      color:#fff;
      font-size: 50px;
      line-height: 50px;
      height:50px;

      &.slick-next{
        left:auto;
        right:10px;

      }
    }

    .title{
      position: absolute;
      z-index: 5;
      color:#fff;
      font-size:22px;
      line-height: 22px;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 1px;
      font-weight: 400;
      margin:-10px 5% 0 5%;
      width:90%;
      left:0;
      top:50%;
    }
}