.SingleDatePicker{
  display: block;
  max-width: 150px;
}
.SingleDatePickerInput{
  border: solid 1px #999;
}
.DateInput{
  font-size: 16px;
  padding:2px 4px;
  width:100%;
  font-weight: 400;
}
.DateInput__display-text--focused{
  background: transparent;
  border-color: transparent;
  border-radius: 3px;
  color: #2d6aa7;
}
.DateInput__display-text{
  padding:0;
}

.CalendarMonth__day--selected-start,
.CalendarMonth__day--selected-end,
.CalendarMonth__day--selected{
  background: #2d6aa7;
  border-color: #2d6aa7;
}