.message{
    margin:0 auto 20px;
    width:100%;
    border:none;
    border-radius:0px;
}
.close{
    color:#fff;
    text-shadow:none;
    opacity:1;
}
.alert-SUCCESS{
    color: #fff;
    background-color: #4caf50;
}
.alert-ERROR{
    color: #fff;
    background-color: #d32F2f;
}