.latest-news{
    .cover{
        height:auto;
        width:auto;
        max-height: 400px;
        max-width:100%;
        display: block;
    }
    .preview{
        padding:10px 0;
    }
}
.news-card{
    .cover{
        max-width:100%;
    }
}