.latest-news{

    h2{
        text-transform: capitalize
    }
    .cover{
        height:auto;
        width:auto;
        max-width:80%;
        max-height: 400px;
        display: block;
    }
    .preview{
        padding:10px 10px 10px 0;
    }
}
.news-card{
    .cover{
        max-width:100%;
    }
}