.login-form{
    max-width:400px;
    margin: 50px auto 20px;

    h2 {
        margin-bottom:25px;
    }

    .form-group{
        margin:0;
        padding:0;

        &.border-less .form-control{
            border-top:none;
        }
    }

    .btn {
        margin-top:10px;
    }
}