dl.dl-horizontal {
    > div {
        padding-bottom:10px;
    }

    dt {
        @media (min-width: $screen-sm-min) {
            width:300px;
        }   
        
        h3{
            margin-top: 0;
            font-size: 18px;
            line-height: 20px;
        }
    }
    dd {
        @media (min-width: $screen-sm-min) {
            margin-left:325px;
            margin-top:11px;
        }
        > div {
            padding-bottom:3px;
        }
    }
}