@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  font-family: 'Roboto', sans-serif;
}

header{
  font-family: 'Roboto', sans-serif;
}

a:hover {
    cursor:pointer;
}

button a {
    display: block;
}

h2 {
    text-transform: uppercase;
    font-weight: 400;
    border-left: 8px solid $darker-green;
    padding: 8px 5px 8px 15px;
    margin-top:25px;
    margin-bottom:15px;
}
.container-fluid h2:first-of-type {
    margin-top:40px;
}

h3 {
    color: $primary-yellow;
    font-weight: 400;
}

ul.no-padding{
    padding-left:20px;
    margin:10px 0;
}

.divisions{
    font-weight: 500;
}
.tournament-label.label{
    font-size: 13px;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
    margin-right:5px;
    margin-top:4px;
    padding:.5em .8em;
    /*background:#fff;
    border:1px solid #337ab7;
    color:#337ab7;*/
}